//- ############################################################################
//- ############################### GPL III ####################################
//- ############################################################################
//- *                         Copyright 2017 CRS4                                 *
//- *       This file is part of CRS4 Microservice Core - Auth (CMC-Auth).       *
//- *                                                                            *
//- *       CMC-Auth is free software: you can redistribute it and/or modify     *
//- *     it under the terms of the GNU General Public License as published by   *
//- *       the Free Software Foundation, either version 3 of the License, or    *
//- *                    (at your option) any later version.                     *
//- *                                                                            *
//- *       CMC-Auth is distributed in the hope that it will be useful,          *
//- *      but WITHOUT ANY WARRANTY; without even the implied warranty of        *
//- *       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        *
//- *               GNU General Public License for more details.                 *
//- *                                                                            *
//- *       You should have received a copy of the GNU General Public License    *
//- *       along with CMC-Auth.  If not, see <http://www.gnu.org/licenses/>.    *
//- * ############################################################################

extends layout



block content

  h1= title
  table(border="1")
    each item in table
      tr
        each column in item
          td= column


  form(name="add-estimation", method="get" , action="/configMs/getMicroservices")
    div.input
      input(type="hidden" name="access_token" value="#{psw}")
      span.label Microservice Type:
      select(name='Type')
        option(value='', selected='selected') Select a microservice Type
        //- var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
        each item in appGrant
          option(value=item)= item
        option(value='All') All

    div.actions
      input(type="submit", value="Cerca")
